<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.base.dao.BankCodeMapper">
  <resultMap id="BaseResultMap" type="com.zy.base.pojo.BankCode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bk_code" jdbcType="VARCHAR" property="bkCode" />
    <result column="bk_name" jdbcType="VARCHAR" property="bkName" />
    <result column="bk_status" jdbcType="TINYINT" property="bkStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, bk_code, bk_name, bk_status
  </sql>
  <select id="selectByExample" parameterType="com.zy.base.pojo.BankCodeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zpay_bank_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zpay_bank_code
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zpay_bank_code
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zy.base.pojo.BankCodeExample">
    delete from zpay_bank_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zy.base.pojo.BankCode">
    insert into zpay_bank_code (id, bk_code, bk_name, 
      bk_status)
    values (#{id,jdbcType=INTEGER}, #{bkCode,jdbcType=VARCHAR}, #{bkName,jdbcType=VARCHAR}, 
      #{bkStatus,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zy.base.pojo.BankCode">
    insert into zpay_bank_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bkCode != null">
        bk_code,
      </if>
      <if test="bkName != null">
        bk_name,
      </if>
      <if test="bkStatus != null">
        bk_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bkCode != null">
        #{bkCode,jdbcType=VARCHAR},
      </if>
      <if test="bkName != null">
        #{bkName,jdbcType=VARCHAR},
      </if>
      <if test="bkStatus != null">
        #{bkStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zy.base.pojo.BankCodeExample" resultType="java.lang.Long">
    select count(*) from zpay_bank_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zpay_bank_code
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.bkCode != null">
        bk_code = #{record.bkCode,jdbcType=VARCHAR},
      </if>
      <if test="record.bkName != null">
        bk_name = #{record.bkName,jdbcType=VARCHAR},
      </if>
      <if test="record.bkStatus != null">
        bk_status = #{record.bkStatus,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zpay_bank_code
    set id = #{record.id,jdbcType=INTEGER},
      bk_code = #{record.bkCode,jdbcType=VARCHAR},
      bk_name = #{record.bkName,jdbcType=VARCHAR},
      bk_status = #{record.bkStatus,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zy.base.pojo.BankCode">
    update zpay_bank_code
    <set>
      <if test="bkCode != null">
        bk_code = #{bkCode,jdbcType=VARCHAR},
      </if>
      <if test="bkName != null">
        bk_name = #{bkName,jdbcType=VARCHAR},
      </if>
      <if test="bkStatus != null">
        bk_status = #{bkStatus,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zy.base.pojo.BankCode">
    update zpay_bank_code
    set bk_code = #{bkCode,jdbcType=VARCHAR},
      bk_name = #{bkName,jdbcType=VARCHAR},
      bk_status = #{bkStatus,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>