<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.base.dao.CustomerLogMapper">
  <resultMap id="BaseResultMap" type="com.zy.base.pojo.CustomerLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="add_time" jdbcType="VARCHAR" property="addTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zy.base.pojo.CustomerLogWithBLOBs">
    <result column="url" jdbcType="LONGVARCHAR" property="url" />
    <result column="requestparams" jdbcType="LONGVARCHAR" property="requestparams" />
    <result column="sign" jdbcType="LONGVARCHAR" property="sign" />
  </resultMap>
  <sql id="Base_Column_List">
    id, customer_id, add_time, status
  </sql>
  <sql id="Blob_Column_List">
    url, requestparams, sign
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from zpay_customer_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zpay_customer_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zy.base.pojo.CustomerLogWithBLOBs">
    insert into zpay_customer_log (id, customer_id, add_time, 
      status, url, requestparams, 
      sign)
    values (#{id,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{addTime,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{url,jdbcType=LONGVARCHAR}, #{requestparams,jdbcType=LONGVARCHAR}, 
      #{sign,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zy.base.pojo.CustomerLogWithBLOBs">
    insert into zpay_customer_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="requestparams != null">
        requestparams,
      </if>
      <if test="sign != null">
        sign,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="url != null">
        #{url,jdbcType=LONGVARCHAR},
      </if>
      <if test="requestparams != null">
        #{requestparams,jdbcType=LONGVARCHAR},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zy.base.pojo.CustomerLogWithBLOBs">
    update zpay_customer_log
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=LONGVARCHAR},
      </if>
      <if test="requestparams != null">
        requestparams = #{requestparams,jdbcType=LONGVARCHAR},
      </if>
      <if test="sign != null">
        sign = #{sign,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zy.base.pojo.CustomerLogWithBLOBs">
    update zpay_customer_log
    set customer_id = #{customerId,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      url = #{url,jdbcType=LONGVARCHAR},
      requestparams = #{requestparams,jdbcType=LONGVARCHAR},
      sign = #{sign,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zy.base.pojo.CustomerLog">
    update zpay_customer_log
    set customer_id = #{customerId,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>