<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.base.dao.CustomerAccountWithdrawMapper">
  <resultMap id="BaseResultMap" type="com.zy.base.pojo.CustomerAccountWithdraw">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="fee" jdbcType="DECIMAL" property="fee" />
    <result column="fee_taken_on" jdbcType="TINYINT" property="feeTakenOn" />
    <result column="return_url" jdbcType="VARCHAR" property="returnUrl" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zy.base.pojo.CustomerAccountWithdrawWithBLOBs">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
    <result column="add_time" jdbcType="LONGVARCHAR" property="addTime" />
    <result column="up_time" jdbcType="LONGVARCHAR" property="upTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, customer_id, amount, status, order_id, fee, fee_taken_on, return_url
  </sql>
  <sql id="Blob_Column_List">
    remark, add_time, up_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from zpay_customer_account_withdraw
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zpay_customer_account_withdraw
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zy.base.pojo.CustomerAccountWithdrawWithBLOBs">
    insert into zpay_customer_account_withdraw (id, customer_id, amount, 
      status, order_id, fee, 
      fee_taken_on, return_url, remark, 
      add_time, up_time)
    values (#{id,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, 
      #{status,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{fee,jdbcType=DECIMAL}, 
      #{feeTakenOn,jdbcType=TINYINT}, #{returnUrl,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR}, 
      #{addTime,jdbcType=LONGVARCHAR}, #{upTime,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zy.base.pojo.CustomerAccountWithdrawWithBLOBs">
    insert into zpay_customer_account_withdraw
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="fee != null">
        fee,
      </if>
      <if test="feeTakenOn != null">
        fee_taken_on,
      </if>
      <if test="returnUrl != null">
        return_url,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="upTime != null">
        up_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="feeTakenOn != null">
        #{feeTakenOn,jdbcType=TINYINT},
      </if>
      <if test="returnUrl != null">
        #{returnUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=LONGVARCHAR},
      </if>
      <if test="upTime != null">
        #{upTime,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zy.base.pojo.CustomerAccountWithdrawWithBLOBs">
    update zpay_customer_account_withdraw
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="fee != null">
        fee = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="feeTakenOn != null">
        fee_taken_on = #{feeTakenOn,jdbcType=TINYINT},
      </if>
      <if test="returnUrl != null">
        return_url = #{returnUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=LONGVARCHAR},
      </if>
      <if test="upTime != null">
        up_time = #{upTime,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zy.base.pojo.CustomerAccountWithdrawWithBLOBs">
    update zpay_customer_account_withdraw
    set customer_id = #{customerId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      status = #{status,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      fee = #{fee,jdbcType=DECIMAL},
      fee_taken_on = #{feeTakenOn,jdbcType=TINYINT},
      return_url = #{returnUrl,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR},
      add_time = #{addTime,jdbcType=LONGVARCHAR},
      up_time = #{upTime,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zy.base.pojo.CustomerAccountWithdraw">
    update zpay_customer_account_withdraw
    set customer_id = #{customerId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      status = #{status,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      fee = #{fee,jdbcType=DECIMAL},
      fee_taken_on = #{feeTakenOn,jdbcType=TINYINT},
      return_url = #{returnUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>